@import url("https://use.typekit.net/naj7mat.css");

#home {
  position: relative;
  margin: 0 auto;
  /* padding: 0 80px; */
}

/* hero */
#hero {
  width: 100vw;
  height: 100vh;
  background: url(https://cdn.aryeo.com/listings/103-peppervine-ln-port-aransas-tx-78373-4272527/resized/large/large-cc72cba3-fcb6-4b85-b2a0-fe62cab2850a.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

#heroContent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0.336) 0, rgba(0, 0, 0, 0) 100%)
}

#heroVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

#muteBtn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  color: black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  bottom: 35px;
  right: 5%;
  cursor: pointer;
}

.soundIcon {
  width: 20px;
}

@media only screen and (max-width: 1050px) {
  #hero {
    height: 85vh;
  }
}


#heroTitle,
#heroSubtitle {
  color: white;
  font-family: josefin-sans, sans-serif;
  text-align: center;
}

#heroTitle {
  font-weight: 500;
  font-size: 80px;
}

#theLabel {
  font-size: 22px;
}

#mainTitle {
  margin-top: -30px;
}

#heroSubtitle {
  margin-top: 10px;
  font-size: 22px;
}

@media only screen and (max-width: 650px) {
  #heroTitle {
    font-weight: 500;
    font-size: 40px;
  }

  #theLabel {
    font-size: 18px;
  }

  #mainTitle {
    margin-top: -15px;
  }

  #heroSubtitle {
    margin-top: 10px;
    font-size: 18px;
    display: none;
  }
}

/* ============= */
/* Benifits */
/* ============= */
#benifitsContainerLarge {
  position: relative;
  width: 100%;

  padding-top: 150px;
  padding-bottom: 100px;

  background: #fffefc;
  background: linear-gradient(180deg, #fffefc 45%, #b7a18b 45%);
}

.benifitsContent {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  width: 65%;
  margin: auto;
}

.col {
  flex: 1;
}

/* Info */
.benifitsInfoContainer {
  padding-top: 67px;
}

.benifitsInfoContainer h1 {
  font-size: 56px;
  font-weight: 500;
  margin: 0 0 35px;
  max-width: 350px;
}

.benifitsInfoContainer p {
  margin-bottom: 75px;
  font-size: 18px;
  font-weight: 300;
}

#benifitOne .benifitsInfoContainer p {
  max-width: 460px;
}

#benifitTwo .benifitsInfoContainer p {
  max-width: 550px;
}

#benifitOne {
  padding-bottom: 75px;
}

#benifitOne .benifitsInfoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  text-align: end;
  color: black;
}

#benifitTwo .benifitsInfoContainer {
  justify-content: end;
  color: white;

  flex: 1;
  display: flex;
  flex-direction: column;

  padding-bottom: 75px;
}

/* Img */
.benifitsImgsContainer {
  position: relative;
  min-height: 650px;
}

.imgContainer {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#imgRight {
  /* background: url(https://thewallace.com/hubfs/Website/Webp/img-invitation-to-unwind.webp) no-repeat; */
}

#imgLeft {
  /* background: url(https://thewallace.com/hs-fs/hubfs/DSC06630-2%201.png?width=1262&height=1400&name=DSC06630-2%201.png) no-repeat; */
}

/* border */
.imgBorder {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

#imgRightBorder {
  top: -15px;
  right: -15px;
  border: solid 1px #b7a18b;
}

#imgLeftBorder {
  bottom: -15px;
  left: -15px;
  border: solid 1px white;
}

/* SMall Benefirts ================================================= */
#benefitsContainerSmall {
  display: none;
  position: relative;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 50px;
}

.topImageSection {
  width: 100%;
  height: 400px;
  position: relative;
}

.topImageBorder {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: transparent;
  top: -12px;
  right: -12px;
  border: solid 1px #dca975;
}

#topImage {
  position: absolute;
  z-index: 2;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#topSectionOuter {}

#topSection {
  text-align: right;
  width: 90vw;
  margin-left: 5vw;
  position: relative;
}

.sectionHeader {
  font-size: 36px;
  font-weight: 500;
  margin-top: 15px;
}

#sectionHeader2 {
  margin-top: 30px;
}

#sectionFlex {
  width: 100%;
  display: flex;
  justify-content: end;
}

.sectionSub {
  margin-top: 10px;
  max-width: 600px;
}

#bottomSectionOuter {
  background-color: #b7a18b;
  background-color: #dca975;
  /* peach #ff9f76*/
  /* ligther #dca975 */
  padding-top: 50px;
  margin-top: 80px;
  padding-bottom: 80px;
}

#bottomSection {
  width: 90vw;
  margin-left: 5vw;
  position: relative;
  color: white;
}

#bottomSection #sectionFlex {
  justify-content: start;
}

#bottomSection .topImageBorder {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: transparent;
  top: 12px;
  right: 12px;
  border: solid 1px white;
}


@media only screen and (max-width: 1250px) {
  #benifitsContainerLarge {
    display: none;
  }

  #benefitsContainerSmall {
    display: inline-block;
  }

  .map-points-of-interest .text {
    font-size: 32px;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
  }

}

/* ============= */
/* Carousel */
/* ============= */
/* #carouselContainer{
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: black;
} */
/* ============= */
/* Reviews */
/* ============= */
#carouselContainer {
  position: relative;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 25px;
}

#carouselTitle {
  font-size: 56px;
  font-weight: 500;
  text-align: center;

}

#carouselSub {
  text-align: center;
  margin-top: 0px;
  font-size: 18px;
  margin-bottom: 50px;
  letter-spacing: 4px;
}

@media only screen and (max-width: 1250px) {
  #carouselContainer {
    position: relative;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #carouselTitle {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
  }

  #carouselSub {
    text-align: center;
    margin-top: -50px;
    font-size: 18px;
    margin-bottom: 35px;
    letter-spacing: 4px;
  }
}

#featuresContainer {
  position: relative;
  width: 90vw;
  border-radius: 8px;
  margin-left: 5vw;
  margin-top: 50px;
  margin-bottom: 0px;
}

#featuresList {
  text-align: center;
}

#featuresList li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  #featuresList {
    text-align: left;
  }
  #featuresContainer {
    position: relative;
    width: 90vw;
    border-radius: 8px;
    margin-left: 5vw;
    margin-top: 25px;
    margin-bottom: 0px;
  }
}

/* ============= */
/* Map / Localsites*/
/* ============= */
#locationContainer {
  position: relative;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* map */
#mapContainer {
  width: 100vw;
  padding-bottom: 50px;
}

#blocker2 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 500;
  border-radius: 8px;
}

.map-points-of-interest {
  display: grid;
  gap: 38px 145px;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);
  list-style: none;
  margin: 0 auto;
  max-width: 944px;
  padding: 0;
}

/* sites */
#localSiteContainer {
  position: relative;
  margin-bottom: 50px;
}

.distance svg {
  stroke: currentColor;
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.map-points-of-interest .distance .drive:first-child:not(:last-child) {
  border-right: 0.5px solid rgba(0, 0, 0, .2);
  padding-right: 16px;
}

.map-points-of-interest .distance p {
  margin: 0;
  padding-left: 24px;
  position: relative;
}

.map-points-of-interest .index {
  font-size: 13px;
  left: -36px;
  line-height: 130%;
  opacity: .5;
  position: absolute;
  top: 7px;
}

.map-points-of-interest li {
  border-bottom: 0.5px solid rgba(0, 0, 0, .2);
  padding-bottom: 16px;
  position: relative;
}

.map-points-of-interest .text {
  font-size: 32px;
  font-family: josefin-sans, sans-serif;
  font-weight: 400;
}

.map-points-of-interest .distance {
  display: flex;
}

.map-points-of-interest .distance svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drive,
.walk {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1050px) {
  .map-points-of-interest {
    display: grid;
    gap: 38px 145px;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, 1fr);
    list-style: none;
    margin: 0 auto;
    max-width: 944px;
    padding: 0;
    padding-left: 50px;
    max-width: 70vw;
  }

  .map-points-of-interest .text {
    font-size: 22px;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
  }

  .map-points-of-interest li {
    border-bottom: 0.5px solid rgba(0, 0, 0, .2);
    padding-bottom: 10px;
    position: relative;
  }

}


#virtualTour {
  padding-top: 50px;
  padding-bottom: 0px;
}

#matterport {
  width: 90vw;
  border-radius: 8px;
  margin-left: 5vw;
}

#newFooter {
  width: 100vw;
  height: 80px;
  background-color: black;
  color: white;
}

#newFooterInner {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin-left: 5vw;
  height: 100%;
  align-items: center;
}

#phone {
  margin-right: 20px;
}

#bookNowArea {
  width: 100vw;
  background-color: #dca975;
  /* peach #ff9f76*/
  /* ligther #dca975 */
  min-height: 400px;
  text-align: center;
}

#btnContainer {}

#btnContainerGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: -30px;
}

#btnContainer {
  margin-left: 30px;
}

#nowTitle {
  font-size: 56px;
  padding-top: 75px;
  color: white;
}

#nowSub {
  color: white;
  /* margin-bottom: 40px; */
}

@media only screen and (max-width: 1250px) {
  #nowTitle {
    font-size: 36px;
    padding-top: 100px;
  }
}

@media only screen and (max-width: 650px) {
  #btnContainerGroup {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: -30px;
  }
  #nowTitle {
    font-size: 36px;
    padding-top: 110px;
  }
  #btnContainer {
    margin-top: 0px;
    margin-bottom: 15px;
  }
}